@using MVCLMS.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<h2>Üyeler</h2>
<div style="margin-bottom:30px"></div>

<table class="table table-bordered">
    <tr>
        <th>Kullanıcı ID</th>
        <th>Kullanıcı Adı</th>
        <th>Kullanıcı Soyadı</th>
       
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Kullanıcı Kitap Geçmişi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Surname</td>
     
            <td><a href="/User/DeleteUser/@item.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/User/GetUser/@item.Id" class="btn btn-success">Güncelle</a></td>
            <td><a href="/User/UserBookHistory/@item.Id" class="btn btn-success" style="background-color:lightseagreen">Kitap Geçmişi</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index", new { page}))
<a href="/User/AddUser/" class="btn btn-primary">Yeni Kullanıcı Ekle</a>

